<!DOCTYPE html>
<html>
<head>
    <title>Progressee Edutech</title>
    <style type="text/css">
    	body{
    		margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
    	}
    	.content{
    		background: white;
    		width: 50%;
    		padding: 40px;
    		margin: 100px auto;

    	}
    </style>
</head>
<body>
	<div class="content">
    {% block content %}    
        <h1 style="text-align: center;">Welcome to Progressee Please Login to continue</h1>
        {% if user.is_authenticated %}
        <table align="center">
        			<tr style="text-align: center;">
        				<td>
        					<a href="{% url 'logout' %}">Logout</a>
        				</td>
        			</tr>
        		</table>
        	

        	{% else %}
        		<table align="center">
        			<tr style="text-align: center;">
        				<td>
        					<a style="text-decoration-color: #000000" href="{% url 'login_url' %}">Login</a>
        				</td>
        			</tr>
        		</table>
        {% endif %}
    {% endblock %}
    </div>
</body>
</html>